<p>Hi {{name}},</p>
<p>Welcome to NIE Placement Portal!</p>
<p>Your login credentials:</p>
<ul>
  <li><strong>USN:</strong> {{usn}}</li>
  <li><strong>Default Password:</strong> {{defaultPassword}}</li>
</ul>
<p>Click below to log in and begin:</p>
<a href="{{loginLink}}">Login Now</a>
<p><br/>– NIE Placement Team</p>
